<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>16.12.6_gnosis.md</key>
			<dict>
				<key>lastModification</key>
				<real>525164227.21696699</real>
				<key>version</key>
				<dict>
					<key>347902325f2af9c4b56a236a0bd0cf865ab0a9323aec1957f7bd6fbfec345d38</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016mdcc.md</key>
			<dict>
				<key>lastModification</key>
				<real>525164227.21697497</real>
				<key>version</key>
				<dict>
					<key>347902325f2af9c4b56a236a0bd0cf865ab0a9323aec1957f7bd6fbfec345d38</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017.07.27-gnosis.md</key>
			<dict>
				<key>lastModification</key>
				<real>525164227.21697402</real>
				<key>version</key>
				<dict>
					<key>347902325f2af9c4b56a236a0bd0cf865ab0a9323aec1957f7bd6fbfec345d38</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>RESTful_summary.md</key>
			<dict>
				<key>lastModification</key>
				<real>525164227.21697003</real>
				<key>version</key>
				<dict>
					<key>347902325f2af9c4b56a236a0bd0cf865ab0a9323aec1957f7bd6fbfec345d38</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>android_training_study1.md</key>
			<dict>
				<key>lastModification</key>
				<real>525164227.21697402</real>
				<key>version</key>
				<dict>
					<key>347902325f2af9c4b56a236a0bd0cf865ab0a9323aec1957f7bd6fbfec345d38</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>android_training_study2.md</key>
			<dict>
				<key>lastModification</key>
				<real>525164227.21697402</real>
				<key>version</key>
				<dict>
					<key>347902325f2af9c4b56a236a0bd0cf865ab0a9323aec1957f7bd6fbfec345d38</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>cpu_ram_detailed.md</key>
			<dict>
				<key>lastModification</key>
				<real>525164227.21697402</real>
				<key>version</key>
				<dict>
					<key>347902325f2af9c4b56a236a0bd0cf865ab0a9323aec1957f7bd6fbfec345d38</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>design_pattern_summarize.md</key>
			<dict>
				<key>lastModification</key>
				<real>525164227.21697301</real>
				<key>version</key>
				<dict>
					<key>347902325f2af9c4b56a236a0bd0cf865ab0a9323aec1957f7bd6fbfec345d38</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>essay01.md</key>
			<dict>
				<key>lastModification</key>
				<real>525164227.21697301</real>
				<key>version</key>
				<dict>
					<key>347902325f2af9c4b56a236a0bd0cf865ab0a9323aec1957f7bd6fbfec345d38</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>git_learn.md</key>
			<dict>
				<key>lastModification</key>
				<real>525164227.21697301</real>
				<key>version</key>
				<dict>
					<key>347902325f2af9c4b56a236a0bd0cf865ab0a9323aec1957f7bd6fbfec345d38</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>hello-world.md</key>
			<dict>
				<key>lastModification</key>
				<real>525164227.21697301</real>
				<key>version</key>
				<dict>
					<key>347902325f2af9c4b56a236a0bd0cf865ab0a9323aec1957f7bd6fbfec345d38</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>introduction_learn_method.md</key>
			<dict>
				<key>lastModification</key>
				<real>525164227.21697199</real>
				<key>version</key>
				<dict>
					<key>347902325f2af9c4b56a236a0bd0cf865ab0a9323aec1957f7bd6fbfec345d38</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>java_sort_algorithm_series1.md</key>
			<dict>
				<key>lastModification</key>
				<real>525164227.21697199</real>
				<key>version</key>
				<dict>
					<key>347902325f2af9c4b56a236a0bd0cf865ab0a9323aec1957f7bd6fbfec345d38</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>java_sort_algorithm_series2.md</key>
			<dict>
				<key>lastModification</key>
				<real>525164227.21697199</real>
				<key>version</key>
				<dict>
					<key>347902325f2af9c4b56a236a0bd0cf865ab0a9323aec1957f7bd6fbfec345d38</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>kotlin01.md</key>
			<dict>
				<key>lastModification</key>
				<real>525164227.21697098</real>
				<key>version</key>
				<dict>
					<key>347902325f2af9c4b56a236a0bd0cf865ab0a9323aec1957f7bd6fbfec345d38</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>mysql_crash_course.md</key>
			<dict>
				<key>lastModification</key>
				<real>525164227.21697098</real>
				<key>version</key>
				<dict>
					<key>347902325f2af9c4b56a236a0bd0cf865ab0a9323aec1957f7bd6fbfec345d38</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>old2016_new2017.md</key>
			<dict>
				<key>lastModification</key>
				<real>525164227.21697098</real>
				<key>version</key>
				<dict>
					<key>347902325f2af9c4b56a236a0bd0cf865ab0a9323aec1957f7bd6fbfec345d38</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>oracle_database12c.md</key>
			<dict>
				<key>lastModification</key>
				<real>525164227.21697098</real>
				<key>version</key>
				<dict>
					<key>347902325f2af9c4b56a236a0bd0cf865ab0a9323aec1957f7bd6fbfec345d38</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>rebuild_blog.md</key>
			<dict>
				<key>lastModification</key>
				<real>525164227.21697003</real>
				<key>version</key>
				<dict>
					<key>347902325f2af9c4b56a236a0bd0cf865ab0a9323aec1957f7bd6fbfec345d38</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>religion-and-apply.md</key>
			<dict>
				<key>lastModification</key>
				<real>525164227.21697003</real>
				<key>version</key>
				<dict>
					<key>347902325f2af9c4b56a236a0bd0cf865ab0a9323aec1957f7bd6fbfec345d38</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>skill_learn_collect.md</key>
			<dict>
				<key>lastModification</key>
				<real>525164227.21696901</real>
				<key>version</key>
				<dict>
					<key>347902325f2af9c4b56a236a0bd0cf865ab0a9323aec1957f7bd6fbfec345d38</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>view-text-01.md</key>
			<dict>
				<key>lastModification</key>
				<real>525164227.21696901</real>
				<key>version</key>
				<dict>
					<key>347902325f2af9c4b56a236a0bd0cf865ab0a9323aec1957f7bd6fbfec345d38</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>wechat01.md</key>
			<dict>
				<key>lastModification</key>
				<real>525164227.21696901</real>
				<key>version</key>
				<dict>
					<key>347902325f2af9c4b56a236a0bd0cf865ab0a9323aec1957f7bd6fbfec345d38</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>wechat02.md</key>
			<dict>
				<key>lastModification</key>
				<real>525164227.21696901</real>
				<key>version</key>
				<dict>
					<key>347902325f2af9c4b56a236a0bd0cf865ab0a9323aec1957f7bd6fbfec345d38</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>what_is_learn.md</key>
			<dict>
				<key>lastModification</key>
				<real>525164227.216968</real>
				<key>version</key>
				<dict>
					<key>347902325f2af9c4b56a236a0bd0cf865ab0a9323aec1957f7bd6fbfec345d38</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>无标题.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>525164234.78262299</real>
				<key>lastModification</key>
				<real>525164234.78262299</real>
				<key>version</key>
				<dict>
					<key>347902325f2af9c4b56a236a0bd0cf865ab0a9323aec1957f7bd6fbfec345d38</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>16.12.6_gnosis.md</string>
		</array>
		<array>
			<string>无标题.md</string>
		</array>
		<array>
			<string>what_is_learn.md</string>
		</array>
		<array>
			<string>wechat02.md</string>
		</array>
		<array>
			<string>wechat01.md</string>
		</array>
		<array>
			<string>view-text-01.md</string>
		</array>
		<array>
			<string>skill_learn_collect.md</string>
		</array>
		<array>
			<string>RESTful_summary.md</string>
		</array>
		<array>
			<string>religion-and-apply.md</string>
		</array>
		<array>
			<string>rebuild_blog.md</string>
		</array>
		<array>
			<string>oracle_database12c.md</string>
		</array>
		<array>
			<string>old2016_new2017.md</string>
		</array>
		<array>
			<string>mysql_crash_course.md</string>
		</array>
		<array>
			<string>kotlin01.md</string>
		</array>
		<array>
			<string>java_sort_algorithm_series2.md</string>
		</array>
		<array>
			<string>java_sort_algorithm_series1.md</string>
		</array>
		<array>
			<string>introduction_learn_method.md</string>
		</array>
		<array>
			<string>hello-world.md</string>
		</array>
		<array>
			<string>git_learn.md</string>
		</array>
		<array>
			<string>essay01.md</string>
		</array>
		<array>
			<string>design_pattern_summarize.md</string>
		</array>
		<array>
			<string>cpu_ram_detailed.md</string>
		</array>
		<array>
			<string>android_training_study2.md</string>
		</array>
		<array>
			<string>android_training_study1.md</string>
		</array>
		<array>
			<string>2017.07.27-gnosis.md</string>
		</array>
		<array>
			<string>2016mdcc.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>347902325f2af9c4b56a236a0bd0cf865ab0a9323aec1957f7bd6fbfec345d38</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
